# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Gradle work directory
.gradle

# Build output directies
build

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml