.rule-error {
    visibility: hidden;
}

.error .rule-error {
    visibility: visible;
}

.rules-set {
    display: table;
    table-layout: fixed;
    width: 100%;
    vertical-align: middle;
    border-collapse:separate;
    border-spacing: 0 5px;
}

.rules-set input {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    height: auto !important;
}

.rule {
    display: table-row;
}

.column {
    float:none !important;
    display: table-cell;
}

.column.rule-types {
    width:230px;
}


.column.main {
    width: 100%;
}

.column.rule-controls {
    width:65px;
    text-align: right;
}

input.expand {
    width:100%;
}

ul.yui3-aclist-list {
    margin: 0 !important;
}

div.url-match-type {
    float: left;
    padding-right: 10px;
}

div.url-match-argument {
    overflow: hidden;
}
